main{
    background-color: #f8f9fa;
}

.button-add-table, .button-add-bill{
    cursor: pointer;
}

.loader {
    animation: spin 2s linear infinite;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #000000; /* Blue */
    border-radius: 50%;
    height: 120px;
    margin-left: 45%;
    width: 120px;
}

.iconstable{
    text-decoration: none;
    margin-inline: 10px;
    cursor: pointer;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.dropdownEdit {
    left: -60px !important;
}

.ui-autocomplete {
    position: absolute;
    margin-top: 95px;
    margin-left: 15px;
    overflow-y: scroll;
    max-height: 200px;
    max-width: 400px;
    font-size: 12px;
    text-decoration: none;
}

#table-stock-report, #table-parts, #table-catalog-report, #table-stock, #table-add, #table-maintance {
    width: 100% !important;
}

#inputs-report{
    margin: auto;
    margin-top: 3%;
}

.dataTables_processing{
    z-index: 105;
}

.contenedor-image-stock{
    cursor: zoom-in;
}

#increase-image img{
    width: 100%;
}

.image-pr{
    transition: ease-in-out 0.2s;
}

.image-pr:hover{
    transition: linear 0.2s;
    filter: grayscale(90%);
    width: 110;
    height: 110;
}
