main{
    background-color: #f8f9fa;
}

.button-add-table, .button-add-bill{
    cursor: pointer;
}

.loader {
    animation: spin 2s linear infinite;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #000000; /* Blue */
    border-radius: 50%;
    height: 120px;
    margin-left: 45%;
    width: 120px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#table-add {
    width: 100% !important;
}

.dropdownEdit {
    left: -60px !important;
}
